<div class="row fadeIn animated">
  <div class="large-12">
    <div class="panel bounceInUp animated">
      <div class="row">
        <div class="large-4 columns">
          <img src="images/profile-pic.jpg"/>
          <br>
        </div>
        <div class="large-8 columns">
          <h4>Jeff Ward</h5>
          <h5>User Interface Engineer, Creative Technologist, Decentralized Futurist.</h5>
          <hr>
          <p>
            Jeff is constantly thinking about the future. The Internet of Things. Bitcoin. Decentralized Web 3.0. Full-stack Javascript. The world is moving ever faster towards the singularity and he hopes to be ready for it.
            <br/>
            <br/>
            Jeff got started as a graphic designer but had been teaching himself how to code since middle school with Flash, Visual Basic, and Java. He had a commodore 64 in his bedroom as a child. You could say he was born to work with computers. 
            <!-- Jeff is interested about the intersection of user expereince, transpancey, simplified interactivity, whenever possible. -->
            <br/>
            <b>Email: </b>
            <a href="mailto:jsward.17@gmail.com?&subject=Expertise%20Request">
              <b>jsward.17@gmail.com</b>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>