<footer class="row bounceInUp animated">
    <div class="large-12">
        <hr>
        <ul>
            <li><a target="_BLANK" href="https://blockchain.info/address/1BJNDSBWgE2c4sbwb1BVEVBGzXbxHqGcSA"><i class="fa fa-btc"></i></a></li>
            <li><a target="_BLANK" href="https://codepen.io/jeffscottward"><i class="fa fa-codepen"></i></a></li>
            <li><a target="_BLANK" href="https://twitter.com/jeffscottward"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_BLANK" href="https://github.com/jeffscottward"> <i class="fa fa-github"></i></a></li>
        </ul>
    </div>
</footer>