<nav class="top-bar row bounceInDown animated">
  <ul class="title-area">
    <li class="name">
      <a href="#">
        <img alt="Jeff Ward" src="images/self-logo.png" style="background: url(http://subtlepatterns.com/patterns/grey.png); max-height: 45px;"/>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a ui-sref="about">About</a></li>
      <li class="has-dropdown not-click">
        <a>Portfolio</a>
        <ul class="dropdown">
          <li><a ui-sref="portfolio.websites">Websites</a></li>
          <li><a ui-sref="portfolio.codepen">Codepen</a></li>
        </ul>
      <li>
      <li><a ui-sref="resume">Resume</a></li>
      <!-- <li><a ui-sref="contact">Contact</a></li> -->
      <!-- <li><a ui-sref="blog">Blog</a></li> -->
    </ul>
  </section>
</nav>