<div class="large12 fadeIn animated">

    <p data-height="384" data-theme-id="0" data-slug-hash="zrjbd" data-default-tab="result" class='codepen' style="opacity: 0;">See the Pen
        <a href='http://codepen.io/jeffscottward/pen/zrjbd/'>Iso-Metric Snake</a> by Jeff Scott Ward (<a href='http://codepen.io/jeffscottward'>@jeffscottward</a>) on <a href='http://codepen.io'>CodePen</a>.
    </p>
    <p data-height="462" data-theme-id="0" data-slug-hash="Ggoik" data-default-tab="result" class='codepen' style="opacity: 0;">See the Pen
        <a href='http://codepen.io/jeffscottward/pen/Ggoik/'>Object Oriented SASS Framework</a> by Jeff Scott Ward (<a href='http://codepen.io/jeffscottward'>@jeffscottward</a>) on <a href='http://codepen.io'>CodePen</a>.
    </p>
    <p data-height="598" data-theme-id="0" data-slug-hash="xFamn" data-default-tab="result" class='codepen' style="opacity: 0;">See the Pen
        <a href='http://codepen.io/jeffscottward/pen/xFamn/'>XBOX 360 UI</a> by Jeff Scott Ward (<a href='http://codepen.io/jeffscottward'>@jeffscottward</a>) on <a href='http://codepen.io'>CodePen</a>.
    </p>
    <p data-height="306" data-theme-id="0" data-slug-hash="wlavA" data-default-tab="result" class='codepen' style="opacity: 0;">See the Pen
        <a href='http://codepen.io/jeffscottward/pen/wlavA/'>3D Hexagon Text Roller</a> by Jeff Scott Ward (<a href='http://codepen.io/jeffscottward'>@jeffscottward</a>) on <a href='http://codepen.io'>CodePen</a>.
    </p>
    <p data-height="651" data-theme-id="0" data-slug-hash="dkJnm" data-default-tab="result" class='codepen' style="opacity: 0;">See the Pen
        <a href='http://codepen.io/jeffscottward/pen/dkJnm/'>Trader Phone APP UI</a> by Jeff Scott Ward (<a href='http://codepen.io/jeffscottward'>@jeffscottward</a>) on <a href='http://codepen.io'>CodePen</a>.
    </p>

</div>
<script async src="//codepen.io/assets/embed/ei.js"></script>